#mix-content {
  margin: 0 auto;
  min-width: 300px;
}

.now-playing {
  background-size: contain;
  height: 300px;
  margin: 3px auto;
  width: 300px;

  .overlay {
    display: none;
    height: 300px;
    text-align: center;
    width: 300px;
  }

  &:hover {
    cursor: pointer;

    .overlay--paused {
      display: block;

      .overlay__controls {
        .icon {
          margin-top: 86px;
        }
      }
    }
  }
}

.tracks {
  text-align: center;
  width: 100%;
}

.tracks__played__trigger {

  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid black;
  border-bottom: none;

  &:hover {
    -moz-animation: bounce 1s infinite;
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
  }

  &.tracks__played__trigger--hidden {
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid black;
      border-top: none;
  }
}


.tracks__played {
  max-height: 900px;

  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;

  &.tracks__played--hide {
    max-height: 0;
    overflow: hidden;

    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
  }
}

&.tracks__row {
  margin: 3px 0;
}

.track {
  background-size: contain;
  display: inline-block;
  height: 120px;
  margin: 0 1px;
  width: 120px;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
