@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Satisfy);

body {
  background-color: @midnight-blue;
  padding: 50px;
  font: 14px "Quicksand", Helvetica, Arial, sans-serif;
  color: @white;
}

.hide {
  display: none;
}

.clear {
  clear: both;
}

@import "colors";
@import "header";
@import "mix.less";
@import "mixes.less";
