#header
    .plm-sign
        .plm-sign__upper Purple Llama
        .plm-sign__lower Mixes
    .nav
        ul
            li.blue(class=active === "home" ? "active" : "")
                a(href='/') Home
            li.pink(class=active === "about" ? "active" : "")
                a(href='/') About
