extends layout

block content
    #mixes
        .mixes__section
            .mixes__section-header
                span.mixes__section-header__month May
                span.mixes__section-header__year 2015
            .mixes__section-contents
                a(href='mix/123/').mix
                a(href='mix/123/').mix
                a(href='mix/123/').mix
