extends layout

block js
    script(src='/js/purplellama.mix.js')
block content
    div#mix-content

        div(class="tracks tracks__played tracks__played--hide")
            div(class="tracks__row pull-left")
        div(class="clear")
        div(class="tracks__played__trigger triangle tracks__played__trigger--hidden")
        div(class="now-playing")
            div(class="overlay overlay--paused")
                div(class="overlay__controls")
                    img(class="icon icon--play" src='/assets/icons/play-128.png')
        div(class="tracks tracks__upcoming")
            div(class="tracks__row")

