extends layout

block js
    script(src='/js/purplellama.mix.js')
block content
    div#mix-content
        #{mixId}

        div(class="tracks tracks__played")
            div(class="tracks__row pull-left")
        div(class="clear")
        div(class="now-playing")
        div(class="tracks tracks__upcoming")
            div(class="tracks__row")

